body {
    display: grid ;
    grid-template-co25lumns: auto 1000px auto;
    grid-template-rows: 300px 100px auto 300px;
}
header {
    background-color : red ;
    grid-column:1/4;
}
nav {
    background-color:blue;
    grid-column:2;
    grid-row: 2;
}

main{
    background-color:black;
    grid-column:2/3;
    grid-row:3/4;

}

footer{
    background-color:violet;
    grid-column:2/3;
    grid-row: 4/4;

}

nav > ul > li{
    display:inline-block


}