/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 9 janv. 2020, 16:32:10
    Author     : HTESSIER
*/

body {
    background-color: #eee;
}

main {
    background-color:  #fff;
}

header, footer {
    background-color: #999;


}
header, main, footer {
    width: 1000px;
    margin: 0 auto;


}
header nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /*flex-direction: row;*/
    position:relative;
}
header ul li{
    margin:0;
}
header nav>ul>li {
    flex-grow:1;
}
header ul li a {
    display:block;
    border: 1px solid #333;
    padding: 5px 0;
    background-color: #aaa;
    text-align: center;
    /*width:100px;*/
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    transition:all 0.5s linear;
}
header ul li a:hover {
    background-color: #333;
    color: #aaa;
    border-color: #aaa;

}
header nav > ul > li > ul {
    display : none;
    position:absolute;
}
nav > ul > li:hover > ul {
    display : block;
}
header nav ul li ul li a {
    border-radius:0;
    padding:5px 30px;
}

main ul {
    color: blue;

}

main ul  ul {
    color: green;

}

main ul  ul  ul {
    color: red;
}

@media screen and (max-width:1000px){
    header, main, footer{
        width:100%;
    }
}
/*
header ul ul {
    position: absolute;
    display: block;
    top: 30px;
    left: 135px;

}
.conteneur {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #333;
    background-color: #FFF;
    width: 1000px;
    height: 1000px;
}
.produit {
    width: 180px ;
    border: 1px solid #333;
    background-color: #999;

    height: 180px



}
header ul  {
    justify-content: space-around
}

*/