/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 janv. 2020, 10:08:35
    Author     : HTESSIER
*/

body {
    background-color: #eee;
}

main {
    background-color:  #fff;
}

header, footer {
    background-color: #999;


}
header, main, footer {
    width: 1000px;
    margin: 0 auto;


}
nav {

}
header ul {
    margin:0;
    padding:0;
    list-style-type: none;

}





header ul li{
    display:inline;
    margin:0;
}

header ul li a {
    display:inline-block;
    border: 1px solid #333;
    padding: 5px 15px;
    background-color: #aaa;
    text-align: center;
    width:100px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}

header ul li a:hover {
    background-color: #333;
    color: #aaa;
    border-color: #aaa;
    /*padding : 10px 50px 20px;*/

}
nav > ul > li > ul {
    display : none;
    position: absolute;
    top: 30px;
    left: 135px;
}
nav > ul > li:hover > ul {
    display: block;
}
header ul {
    position:relative;
    justify-content: space-around
}
main ul {
    color: blue;

}

main ul  ul {
    color: green;

}

main ul  ul  ul {
    color: red;
}
.conteneur {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #333;
    background-color: #FFF;
    width: 1000px;
    height: 1000px;
}
.produit {
    width: 180px ;
    border: 1px solid #333;
    background-color: #999;

    height: 180px



}
