/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 déc. 2019, 14:35:36
    Author     : htessier
*/

@font-face {
    font-family: 'Hardcore';
    src: url('Hardcore.woff2') format('woff2'),
        url('Hardcore.woff') format('woff');

}

h1 { border-bottom: 1px solid;
     text-decoration:underline;
     font-size:15px;
     font-family:"Ma Shan Zheng";
     font-style:italic;


}

a:hover{text-decoration:underline;}
a:visited{color:yellow;}
img{float:left;
    margin:0 10px 10px 0}


body{
    background-image:url("http://blog.ac-versailles.fr/lettresdarts/public/GUSTAVE_DORE/.Paradis_Gustave_Dore_m.jpg");
    background-size:cover;
}

