/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 déc. 2019, 09:45:21
    Author     : htessier
*/



tfoot th{
    color:green;
}

td.oui{
    color:green;
}
td.non{
    color:red;
}
tbody tr:nth-child(odd) {

    background-color:#ddd;

}
tbody td:first-child{
    text-align:center;
    font-weight:900;
}
tbody td:last-child{
    text-align:center;
    font-weight:900;

}
tbody td:first-letter{

}
thead th, tfoot th{
    color:#fff;
    background-color:#777;
}

table {
    border-collapse:collapse;
    margin:10px;
    padding:10px;
    background-color:#333;
    border-radius:500px;
}

table thead, table tfoot{
    border:1px solid blue;
}

table tbody{
    border-left:2px solid green;
    border-right:2px solid green;
}
table td, table th{border-radius:500px}



