/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 févr. 2020, 14:11:27
    Author     : ecisl
*/

body {
    margin:0;
}
/* Logotype + header + Langues + Mon compte + Contact + Téléphone */
header{
    background:url('wallhaven-p2xgrj.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    height:100vh;

}
header img{
    position : absolute;
    width : 50%;
    margin: 20% 25% 25% 25%;
}
.headerconteneur {

    display : flex;
    justify-content: space-around;
    background-color: rgba(157,156,156,.5);
    line-height: 120px;
    color:#FFF;
    font-size:40px;
}

/* Bande en dessous de l'image chocolat' accueil histoire trouver catalogue */

.conteneur {
    background : white;
    height : 150px;
    display : flex;
    justify-content: space-around;
    font-size:40px;
    line-height : 130px;
}

/* Ocean + Rochelle + Histoire marque */

#larochelle {
    height : 1047px;
    background:url('wallhaven-odmog9.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;

}
#cadre {
    box-sizing : content-box;
    width: 582.5px;
    height: 662px;
    background-color:   #fff;
    margin-top : 195px;
    margin-left : 163px;
    position : absolute;
}

#cadre h1 {
    font-size: 36pt;
    text-align : center;
}
#cadre article {
    font-size : 12pt;
    text-align : left;
    font-family: Arial;
}
#rochelle {

    float : right;
    height: 662px;
    width: 1044.06px;
    margin-top : 195px;
    margin-left : 1788px;
    margin-right: 90px;
    margin-bottom: 192px;

}

/* Bande blanche sous bloc histoire rochelle */

#cata {
    height : 250px;
}
#cata h1 {
    text-align: center;
    font-size:50px;
    margin-top:100px;
    padding:50px;
}
/* CARROUSEL */
#carrousel{background:url('wallhaven-1jx1l3.jpg')}
div#slider { width: 80%; max-width: 1080px; overflow: hidden; margin-left: auto;
             margin-right: auto;  }
div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
div#slider figure img { width: 25%; height: auto; float: left; }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

/* SOUS CARROUSEL / Top ventes etc ... / Mes boîtes */


main {
    height: 1000px;
    display : flex;
    justify-content: space-around;
    margin-top: 145px;
}
#boite1 {
    background:url('Images/wallhaven-4xwxvv.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    width : 460px;
    height: 700px ;

}
#boite2 {
    width : 460px;
    height: 700px ;
    background:url('Images/wallhaven-4xwxvv.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}
#boite3 {
    width : 460px;
    height: 700px ;
    background:url('Images/wallhaven-4xwxvv.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}


#surmesure {
    height: 800px;
}
#boite4 {
    margin-left : auto;
    margin-right: auto;
    width : 990px;
    height: 450px ;
    background:url('wallhaven-ey7pdl.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}



/* FOOTER */

#liseret {
    height : 390px;
    background:url('wallhaven-4gry7q.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}





#bas {
    display : flex;
    justify-content: space-around;
    height : 150px;
    font-size: 28pt;

}