body {
    margin:0;
}
header{
    background:url('wallhaven-p2xgrj.jpg');

    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;

    /*opacity : 0.5;*/
    height:100vh;
    /*width : 1920px;*/
    /*transform: translate(-35.5px,60.66px);*/
}

.header  {
    display : flex;
    justify-content: space-around;
    align-content: space-between;
    background-color: rgba(157,156,156,.5);
    line-height: 120px;
    color:#FFF;
    /*font-size:40px;*/
    font-size:40px;
}

.Langues{
    grid-column: 1 / 4;
    grid-rows: 1 / 4 ;
    font-family :"Acumin Variable Concept" ;
}

.Telephone{
    grid-column: 1 / 4;
    grid-rows: 1 / 4 ;
}
.Contact{
    grid-column: 1 / 4;
    grid-rows: 1 / 4 ;
}
.Mon_compte{
    grid-column: 1 / 4;
    grid-rows: 1 / 4 ;
}
section {    height:100vh;
             border:1px solid red;
}
nav {
    height:150px;
    border:1px solid yellow;

}

.conteneur {


    background : white;
    height : 150px;
    border: 1px solid black;
    display : flex;
    justify-content: space-around;
    align-content: space-between;
    font-size:40px;
    line-height : 130px;
}

section {
    height : 1047px;
    background:url('wallhaven-odmog9.jpg');
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;

}
section > img {
    float : right;
    height: 662px;
    width: 1044.06px;
    margin-top : 195px;
    margin-left : 1788px;
    margin-right: 90px;
    margin-bottom: 192px;


}
.cadre {
    box-sizing : content-box;
    width: 582.5px;
    height: 662px;
    background-color:   #fff;
    margin-top : 195px;
    margin-left : 163px;
    position : absolute;
}
cadre >  h1 {
    font-size: 36pt;
    text-align : center;


    cadre > p {
        font-size : 6pt;
    }

    .catalogue{
        background : white;
        height : 250px;
        border: 1px solid black;



    }
    h2 {
        font-size: 100px;
        text-align : center;
    }


    div#carrousel { width: 80%; max-width: 1920px; }

    div#carrousel figure {
        position: relative;
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
    }
    div#carrousel figure img { width: 20%; height: auto; float: left;
                               overflow: hidden}
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
    }
    div#carrousel figure {
        position: relative;
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        left: 0;
        text-align: left;
        animation: 30s slidy infinite;
    }

