/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 févr. 2020, 09:59:11
    Author     : HTESSIER
*/
@media screen and (max-width: 44em) {
    nav[role="full-horizontal"] {
        ul > li {
            width: 100%;
        }
    }
}